.process-section {
  grid-area: process;

  & .layout {
    display: grid;
    grid-template:
      "title description description" auto
      "step-1 step-2 step-3" auto
      / 1fr 1fr 1fr;
    column-gap: clamp(10px, 2vw, 30px);

    & h2 {
      grid-area: title;

      font-size: clamp(60px, 10vw, 80px);
    }

    &>p {
      grid-area: description;

      font-size: clamp(16px, 1.1vw, 18px);
    }
  }
}

@media (width <=1180px) {
  .process-section {
    .layout {
      row-gap: 40px;
    }
  }
}

@media (width <=767px) {
  .process-section {
    & .layout {
      grid-template:
        "title" auto
        "description" auto
        "step-1" 1fr
        "step-2" auto
        "step-3" auto
        / 1fr;

      gap: 5vw;
    }

  }
}

@media (width <=430px) {
  .process-section {
    & .layout {
      gap: 0;

      h2 {
        margin-block-end: 20px;
      }
    }
  }
}