main.page {
  padding-block-start: 40px;
  margin-block-start: var(--header-height);

  & .layout {
    display: flex;
    flex-direction: column;
    gap: clamp(30px, 7vw, 40px);

    max-width: 850px;
    padding: clamp(15px, 7vw, 50px) clamp(10px, 5vw, 50px);

    & h1 {
      font-size: clamp(50px, 7vw, 70px);
    }

    & h2 {
      font-size: clamp(35px, 5vw, 45px);
      margin-block-end: clamp(10px, 7vw, 15px);
    }

    & ul {
      display: flex;
      flex-direction: column;
      gap: clamp(5px, 7vw, 10px);
      list-style: square;
      margin-inline-start: 1em;
    }

    & .contact {
      display: flex;
      flex-direction: column;
      gap: clamp(10px, 7vw, 15px);

      &>div {
        display: flex;
        gap: clamp(10px, 7vw, 15px);
      }
    }
  }
}