.layout {
  background-color: white;
}

main.page {
  padding-block-start: var(--header-height);

  & .layout {
    display: flex;
    flex-direction: column;
    gap: clamp(30px, 7vw, 40px);

    max-width: 850px;
    margin-block-start: clamp(15px, 7vw, 30px);
    padding: clamp(15px, 7vw, 50px) clamp(10px, 5vw, 50px);
    border-radius: 40px;

    & h1 {
      font-size: clamp(50px, 7vw, 70px);
    }

    & h2 {
      font-size: clamp(32px, 5vw, 45px);
      margin-block-end: clamp(10px, 7vw, 15px);
    }

    & ul {
      display: flex;
      flex-direction: column;
      gap: clamp(5px, 7vw, 10px);
      list-style: square;
      margin-inline-start: 1em;
    }

    & .contact {
      display: flex;
      flex-direction: column;
      gap: clamp(10px, 7vw, 15px);

      &>div {
        display: flex;
        gap: clamp(10px, 7vw, 15px);
      }
    }
  }
}