.pricing-section {
  grid-area: pricing;

  & .layout {
    display: grid;
    grid-template:
      "title title title" auto
      "description description description" auto
      ". switch ." auto
      "plan-1 plan-2 plan-3" 1fr
      / 1fr 1fr 1fr;
    gap: clamp(20px, 2vw, 30px);

    min-height: 900px;
    text-align: center;

    & h2 {
      grid-area: title;
    }

    & p {
      grid-area: description;
    }

    & .plan-switch {
      grid-area: switch;
      place-self: center;

      display: flex;
      align-items: center;
      gap: 10px;

      padding: 10px 15px;
      margin-block-end: 30px;
    }



  }
}

@media (width < 970px) {
  .pricing-section {
    & .layout {
      grid-template:
        "title" auto
        "description" auto
        "switch" auto
        "plan-1" auto
        "plan-2" auto
        "plan-3" auto
        / 1fr;
    }
  }
}

@media (width < 600px) {
  .pricing-section {
    & .layout {
      & .plan {
        display: grid;
        grid-template:
          "title" auto
          "subtitle" auto
          "features" 1fr
          "price" auto
          "cta" auto
          / 1fr;

        & ul {
          place-self: start;
        }

        & button {
          margin-block-start: 0;
        }
      }
    }
  }
}