.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  color: var(--riser-black);
  border-bottom: solid 1px color-mix(in srgb, var(--riser-grey) 10%, transparent);
  padding: 20px clamp(20px, 5vw, 50px);

  transform: translateY(-150px);
  transition: all .7s ease;
  will-change: transform;
  animation: fadeIn .7s ease forwards;

  backdrop-filter: blur(9px);

  overflow: hidden;
  z-index: 2;

  & .layout {
    display: grid;
    grid-template:
      'logo nav' auto
      /auto 1fr
    ;
    gap: 30px;


    & .logoLink {
      grid-area: logo;
      display: flex;
      align-items: center;

      position: relative;

      border-bottom: none;

      &:hover {
        & img {
          transform: skew(0deg, -3deg) scale(1.2);
          filter: drop-shadow(1px 1px 0px var(--riser-black));
        }
      }

      &:active {
        & img {
          transform: skew(0deg, -3deg) scale(1.2) translate(2px, 2px);
          filter: drop-shadow(0px 0px 0px var(--riser-black));
        }
      }

      & img {
        position: relative;
        object-fit: contain;
        transform: skew(0, 0) scale(1);
        transition: all ease .2s;
      }
    }

    & nav {
      grid-area: nav;

      display: grid;
      grid-template:
        ".   menu . cta" auto
        /1fr auto 1fr auto
      ;

      & ul {
        grid-area: menu;

        display: flex;
        gap: clamp(15px, 2.5vw, 50px);

        padding-inline-end: 30px;
        border-radius: 3px;

        & li {
          display: flex;
          align-items: center;

          & a {
            display: grid;
            place-items: center;
            height: 100%;
            font-weight: 500;
            letter-spacing: 1px;
            border-bottom: none;
          }
        }
      }

      & .close-btn {
        grid-area: close-btn;

        display: none;
        background-color: transparent;
        color: #fff;
        padding: 0;
        border: none;
      }

      & .header-cta {
        grid-area: cta;
        place-self: center;

        padding-block: 5px;

        &:hover {
          color: white;
        }
      }
    }

    & .mobileToggle {
      place-self: center end;
      display: none;
      background: none;
      border: none;
      flex-direction: column;
      gap: 5px;

      & .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
      }
    }

  }

  &.hidden {
    animation: fadeOut .7s ease forwards;
  }

}

@media (width < 1167px) {
  .header {

    overflow: visible;
    margin: 0;

    & .layout {
      & nav {
        display: none;

        position: fixed;
        inset: 0;
        place-self: stretch;

        height: 100dvh;
        flex-direction: column;
        align-items: center;
        background-color: var(--riser-black);

        & ul {
          flex-direction: column;
          gap: 2vh;
          width: 100%;

          font-size: 40px;
          font-family: var(--font-title);
          font-weight: 500;
          padding-inline-end: 0;
          text-align: center;
          letter-spacing: 10px;

          color: var(--riser-green);
        }

        &.navOpen {
          display: grid;
          grid-template: "close-btn" auto
            "menu" auto
            "cta" auto
            /1fr
          ;
          place-items: center;

          & ul li {
            display: inline-block;

            & a {
              display: inline-block;
            }
          }

          & .header-cta {
            display: block;
          }
        }

        & .header-cta {
          display: none;
        }

        & .close-btn {
          display: block;
          color: var(--riser-green);
        }
      }

      & .mobileToggle {
        display: flex;
      }

    }
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(-150px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-150px);
  }
}