.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 35px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: color-mix(in srgb, var(--riser-purple), transparent 80%);
  border-radius: 30px;
  transition: .1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  right: 6px;
  top: 50%;
  background-color: var(--riser-purple);
  border-radius: 50%;
  transition: .1s;
  transform: translateY(-50%);
}

input:focus+.slider {
  outline: solid 2px var(--riser-purple);
}

input:checked+.slider:before {
  /* transform: translate(-25px, -50%); */
  left: 6px;
  right: unset;
}