@keyframes floatAndRotate {

  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-10px) rotate(3deg);
  }
}

.step {
  position: relative;
  min-width: 0;
  background-color: var(--riser-light-grey);
  border: solid 1px color-mix(in srgb, var(--riser-grey) 10%, transparent);
  border-radius: 30px;
  padding: clamp(15px, 5vw, 30px);
  padding-top: 95px;

  &:hover {
    & img {
      scale: 1.15;
    }
  }

  & img {
    position: absolute;
    filter: drop-shadow(2px 2px 2px #bcbcbc);
    transition: all ease .2s;

    animation: floatAndRotate 4s ease-in-out infinite;
  }

  &:nth-of-type(1) {
    grid-area: step-1;

    & img {
      top: -50px;
      left: -10px;
      animation-delay: 0s;
    }
  }

  &:nth-of-type(2) {
    grid-area: step-2;

    & img {
      top: -40px;
      left: 10px;
      animation-delay: -1.3s;
    }
  }

  &:nth-of-type(3) {
    grid-area: step-3;

    & img {
      top: -40px;
      left: 25px;
      animation-delay: -2.6s;
    }
  }

  & h3 {
    position: absolute;
    top: 0;
    right: 0;

    font-family: var(--font-base);
    font-size: clamp(16px, 1.2vw, 20px);
    letter-spacing: normal;

    background-color: var(--riser-green);
    padding: 10px 25px;
    border-radius: 30px;

    transform: translate(-30px, -50%);
  }

  & p {
    display: flex;
    flex-direction: column;
    gap: 15px;

    color: #666;

    & span {
      font-size: clamp(16px, 1.5vw, 23px);
      color: var(--riser-black);
    }
  }
}

@media (width < 768px) {
  .step {
    aspect-ratio: unset;
  }
}