.faq-section {
  grid-area: faq;
  position: relative;

  & .layout {
    display: grid;
    grid-template:
      "inner questions" auto
      / 1.1fr 1.5fr;
    gap: clamp(20px, 4vw, 50px);
    place-items: start;

    & .inner {
      grid-area: inner;
      display: grid;
      grid-template:
        "title" auto
        "description" auto
        / 1fr;
      row-gap: clamp(10px, 2vw, 30px);

      & h2 {
        grid-area: title;
      }

      & p {
        grid-area: description;
      }
    }

    & ul {
      grid-area: questions;
      display: flex;
      flex-direction: column;
      gap: clamp(15px, 2vw, 20px);
      z-index: 1;
      padding: 0;
      margin: 0;

      & li {
        list-style: none;

        & details {
          position: relative;
          background-color: rgba(255, 255, 255, .5);
          border: solid 1px var(--riser-black);
          border-radius: 40px;
          overflow: hidden;
          transition: all .2s ease .4s;

          &::details-content {
            block-size: 0;
            overflow-y: clip;

            transition: block-size 0.4s ease-out,
              content-visibility 0.4s allow-discrete,
              display 0.4s allow-discrete;
          }

          &[open]::details-content {
            block-size: auto;
          }

          &[open] {
            background-color: color-mix(in srgb, var(--riser-green) 50%, transparent);
            box-shadow: 0 0 15px var(--riser-green) inset;
            border: solid 1px var(--riser-green);
          }

          & summary {
            font-size: clamp(16px, 2.5vw, 20px);
            font-weight: 500;
            padding: clamp(10px, 2vw, 15px) clamp(10px, 2vw, 30px);
            cursor: pointer;
          }

          & p {
            font-size: clamp(14px, 2.5vw, 18px);
            padding-block-end: clamp(10px, 2vw, 25px);
            padding-inline: clamp(10px, 2vw, 30px);
            margin: 0;
          }
        }
      }
    }
  }

  & .question-mark {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    opacity: .5;
    z-index: 0;
    pointer-events: none;
  }
}

@media (width <=1024px) {
  .faq-section {
    & .layout {
      grid-template:
        "inner" auto
        "questions" auto
        / 1fr;

      ul {
        li {
          details {
            summary {
              padding: clamp(10px, 3vw, 20px) clamp(10px, 4vw, 30px);
            }

            p {
              padding-block-end: clamp(10px, 3vw, 25px);
              padding-inline: clamp(10px, 4vw, 30px);
            }
          }
        }
      }
    }
  }
}

@media (width <=767px) {
  .faq-section {
    & .layout {
      ul {
        li {
          details {
            border-radius: 35px;
          }
        }
      }
    }
  }
}