.contact-section {
  grid-area: contact;

  & .layout {
    display: grid;
    grid-template:
      "title form" 1fr
      "description form" 1fr
      / 1fr 1fr;
    gap: 30px;

    & h2 {
      grid-area: title;
    }

    & p {
      grid-area: description;
    }

    & form {
      grid-area: form;
      place-self: center;

      display: flex;
      flex-direction: column;
      gap: clamp(5px, 2vw, 25px);

      position: relative;

      max-width: clamp(70%, 50vw, 50%);
      padding: clamp(15px, 7vw, 45px);


      border-radius: 40px;
      z-index: 0;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(45deg,
            var(--riser-green),
            var(--riser-purple),
            var(--riser-green),
            var(--riser-purple));
        z-index: -1;

        background-size: 400%;
        animation: glow 10s linear infinite forwards;
      }

      &:before {
        filter: blur(25px);
        transform: translate3d(0, 0, 0);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(255, 255, 255, .85);
        z-index: -1;
        border-radius: inherit;
      }

      & .input-group {
        display: flex;
        align-items: center;
        gap: 10px;

        & label {
          white-space: nowrap;
        }
      }

      & .status-message {

        text-align: center;
        padding: 5px;
        border-radius: 3px;
        font-weight: 500;

        &.success {
          background-color: var(--riser-green);
          color: var(--riser-black);
        }

        &.error {
          color: var(--riser-red);
        }
      }
    }
  }
}

@media (width < 1000px) {
  .contact-section {
    & .layout {
      grid-template:
        "title" auto
        "description" auto
        "form" auto
        / 1fr;

      & form {
        max-width: clamp(45%, 50vw, 50%);
      }
    }
  }
}

@media (width < 650px) {
  .contact-section {
    & .layout {
      grid-template:
        "title" auto
        "description" auto
        "form" auto
        / 1fr;

      & form {
        max-width: unset;
      }
    }
  }
}

@keyframes glow {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}