@import './css/vars.css';
@import './css/reset.css';
@import './css/Header.css';
@import './css/checkbox.css';
@import './css/switch.css';

:root {
  interpolate-size: allow-keywords;
}

.wrapper-container {
  display: flex;
  justify-content: center;

  padding: clamp(10px, 5vw, 50px) clamp(20px, 5vw, 50px);

  &:first-child {
    padding-block-start: var(--header-height);
  }
}

.wrapper {
  width: 100%;
  place-self: center;
  max-width: 1280px;
}

.card {
  background-color: #fff;
  border: solid 4px var(--riser-black);
  box-shadow: 2px 2px 0 2px var(--riser-black);
  border-radius: 3px;

  transition: all .2s ease;

  &.hover-float:hover {
    transform: translateY(-5px);
  }

  & a {
    &:hover {
      color: var(--riser-purple);
      text-shadow: none;
    }

    &.btn {
      color: #fff;
    }
  }
}

.btn {
  font-size: clamp(14px, 1.2vw, 18px);
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;

  color: white;
  background:
    linear-gradient(to bottom, #6F5CFF, #8E7FFF) padding-box,
    linear-gradient(to right, #8E7FFF, #8373fe) border-box;
  padding: clamp(10px, .7vw, 15px) clamp(10px, 1.5vw, 30px);
  border: 4px solid transparent;
  border-radius: 50px;

  box-shadow:
    0 0 10px -5px white inset,
    0 5px 10px rgba(0, 0, 0, .2);
  text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
  transform: translateY(0);
  transition: .1s ease all;

  &.white-shadow {
    border-color: #fff;
    box-shadow: 2px 2px 0 1px #fff;
  }

  &:hover {
    color: white;
    transform: translateY(-2px);
    box-shadow:
      0 0 10px -5px white inset,
      0 7px 15px rgba(0, 0, 0, .2);
    text-shadow: 0 1px 0 rgba(0, 0, 0, .3);

    &.white-shadow {
      box-shadow: 4px 4px 0 1px #fff;
    }
  }

  &:active {
    transform: translateY(5px);
    box-shadow:
      0 0 10px -5px white inset,
      0 1px 0px rgba(0, 0, 0, .2);

    &.white-shadow {
      box-shadow: 2px 2px 0 1px #fff;
    }
  }
}

.input-group label {
  display: grid;
  grid-template:
    'label field' auto
    /auto 1fr;
  gap: 10px;

  & span {
    white-space: nowrap;
  }
}