@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fadeWrapper {
  opacity: 0;
  animation: fadeIn 1s ease .2s forwards;
}

@media (prefers-reduced-motion: reduce) {
  .fadeWrapper {
    animation: none;
    opacity: 1;
    transform: none;
  }
}