.hero-section {
  grid-area: hero;

  & .layout {
    display: grid;
    grid-template:
      "logo" 1fr
      "title" auto
      "description" auto
      "cta" auto
      / 1fr;
    gap: clamp(30px, 2vw, 50px);

    max-width: 630px;
    text-align: center;

    & .hero-logo {
      grid-area: logo;
    }

    & h1 {
      grid-area: title;
      line-height: 1;
    }

    & h2 {
      grid-area: description;
      letter-spacing: normal;
      font-family: 'Google Sans';
      font-size: clamp(20px, 10vw, 30px);
      line-height: 1.4;
    }

    & .cta-container {
      grid-area: cta;

      display: flex;
      justify-content: center;
      gap: clamp(5px, 3vw, 30px);
    }
  }
}

@media (width < 630px) {
  .hero-section {
    & .cta-container {
      flex-direction: column;
    }
  }
}