.hero-section {
  grid-area: hero;

  & .layout {
    display: grid;
    grid-template:
      "title-grid" 1fr
      "description" auto
      "cta" auto
      / 1fr;
    gap: clamp(30px, 2vw, 50px);

    /* max-width: 630px; */
    text-align: center;

    & .title-grid {
      grid-area: title-grid;

      display: grid;
      grid-template:
        repeat(3, auto) / repeat(5, 1fr);

      text-shadow: 0 0 5px var(--riser-grey);
      font-size: clamp(50px, 8vw, 230px);
      font-weight: 700;
      place-items: center;

      & li {
        line-height: 1.2;
        letter-spacing: 3px;

        &.logo-container {
          position: relative;
          height: 100%;
          width: 100%;
        }

        &.a {
          grid-column: span 2;
        }

        &.b {
          grid-column: span 2;
        }

        &.c {
          grid-column: span 2;
        }

        &.d {
          grid-column: span 2;
        }

        &.e {
          grid-column: span 2;
        }

        &.f {
          grid-column: span 2;
        }
      }

      & img {
        filter: drop-shadow(0 0 5px #c3c3c3);
        height: auto;
        width: clamp(50px, 15vw, 230px);

        &.sign {
          height: 180px;
          width: auto;
          place-self: end;
        }

        &.tablet {
          place-self: start;
          height: clamp(50px, 11vw, 250px);
          width: auto;
        }

        &.plant {
          place-self: start;
          height: clamp(50px, 11vw, 250px);
          width: auto;
        }
      }
    }

    & h1 {
      grid-area: title;
      line-height: 1;
    }

    & h2 {
      grid-area: description;
      letter-spacing: normal;
      font-family: 'Google Sans';
      font-size: clamp(20px, 10vw, 30px);
      line-height: 1.4;
    }

    & .cta-container {
      grid-area: cta;

      display: flex;
      justify-content: center;
      gap: clamp(5px, 3vw, 30px);
    }
  }
}

@media (width < 630px) {
  .hero-section {
    & .cta-container {
      flex-direction: column;
    }
  }
}