.canvas-container {
  height: 40vw;
  width: 40vw;

  filter: blur(2px);

  &:focus-visible {
    outline: 2px solid #00FF7F;
    outline-offset: 4px;
    border-radius: 8px;
  }
}

@media (width <=1024px) {
  .canvas-container {
    --size: 60vw;
    height: var(--size);
    width: var(--size);
  }
}