.wrapper {
  width: 100%;
  place-self: center;
  padding: clamp(15px, 5vw, 30px);

  &.form-wrapper {
    max-width: 660px;
  }

  &.cal-wrapper {
    max-width: 830px;
    padding: 0;
  }

  & form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  & .header {
    text-align: center;
    margin-block-end: 30px;
  }

  & .row {
    display: flex;
    gap: 20px;
  }

  & .form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;

    & .input-error {
      border-color: var(--riser-red);

      &:focus {
        border-color: var(--riser-red);
      }
    }

    & .error {
      font-weight: 700;
      color: var(--riser-red);
      font-size: 14px;
      margin-top: 6px;
      display: block;
    }
  }
}





@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}