.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  max-width: 1280px;

  padding: 20px 20px 15px;

  font-size: clamp(14px, 1.5vw, 16px);
  color: var(--riser-green);
  background-color: color-mix(in srgb, var(--riser-black) 90%, transparent);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  animation: slide-up .5s ease 1 forwards;

  backdrop-filter: blur(7px);

  & .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    & .legal-link:hover {
      color: white;
    }

    & .button-group {
      display: flex;
      gap: 12px;

      & button {
        font-weight: 700;
        padding: 6px 24px;
        border-radius: 6px;
      }

      & .accept-btn {
        background-color: var(--riser-purple);
        color: white;
        border: none;
      }

      & .decline-btn {
        background-color: transparent;
        color: white;
        border: 2px solid white;
      }
    }
  }
}

@media (width <=1024px) {
  .cookie-banner {
    font-size: clamp(14px, 1.9vw, 22px);
    border-radius: 0;
  }
}

@media (width <=767px) {
  .cookie-banner {

    font-size: 11px;
    padding: 15px 20px 25px;

    .inner {
      flex-direction: column;
      gap: 20px;

      .legal-link {
        border-width: 2px;
      }

      & .button-group {
        width: 100%;

        & button {
          flex: 1;
        }
      }
    }

  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}