.about-section {
  grid-area: about;

  & .layout {
    display: grid;
    padding: clamp(10px, 5vw, 50px) clamp(20px, 5vw, 50px);
    background-image: url('../../../assets/about-section-img-edit.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    clip-path: inset(0 round 40px);
    box-shadow: inset 0 0 50px white;
    place-items: end;
    place-self: stretch;


    & .inner {
      display: grid;
      grid-template:
        ". title" auto
        ". description" auto
        / .9fr 1.02fr;
      gap: clamp(10px, 2vw, 40px);

      & h2 {
        grid-area: title;

        color: var(--riser-purple);
        text-align: left;
        font-size: clamp(60px, 7vw, 110px);
        line-height: .9;
      }

      & p {
        grid-area: description;

        text-align: justify;
      }
    }

    & figure {
      grid-area: image;

      position: relative;
    }
  }
}

@media (width < 768px) {
  .about-section {
    grid-area: about;

    & .layout {
      grid-template:
        "title title" auto
        "description description" auto
        / 1fr 1fr;
    }

  }
}